<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.promotion.core.dao.MessageDao">
    <resultMap type="Message" id="MessageResult">
        <result property="id" column="id"/>
        <result property="messageCreateDate" column="message_create_date"/>
        <result property="messageContent" column="message_content"/>
        <result property="isBad" column="is_bad"/>
        <result property="addName" column="add_name"/>
    </resultMap>

    <select id="findMessages" parameterType="Map" resultMap="MessageResult">
        select id,message_create_date,message_content,add_name from ssm_message
        WHERE is_bad = 0
        <if test="messageContent!=null and messageContent!='' ">
            and message_content like #{messageContent}
        </if>

        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getTotalMessages" parameterType="Map" resultType="Long">
        select count(*) from ssm_message
        <where>
            <if test="messageContent!=null and messageContent!='' ">
                and message_content like #{messageContent}
            </if>
        </where>
    </select>

    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="id" parameterType="Message">
        insert into
        ssm_message(message_create_date,message_content,add_name)
        values(#{messageCreateDate},#{messageContent},#{addName})
    </insert>

    <update id="updMessage" parameterType="Message">
        update ssm_message
        set
        message_content=#{messageContent},
        add_name=#{addName}
        where id=#{id}
    </update>

    <update id="updMessageType" parameterType="String">
        update ssm_message
        set
        is_bad=1
        where id=#{id}
    </update>

    <delete id="delMessage" parameterType="String">
        delete from
        ssm_message
        where id=#{id}
    </delete>

    <select id="getMessageById" parameterType="String" resultMap="MessageResult">
        select id,message_create_date,message_content,add_name
        from ssm_message where id=#{id}
    </select>
</mapper>